<div class="container mx-auto mt-24 text-center">
	<h1 class="text-4xl font-open-sans font-extrabold text-dark-green">The power over calories is in your hands!</h1>
	<p class="text-xl mt-4 font-open-sans text-gray-400 font-semibold w-1/2 mx-auto">A simple and intuitive way to manage your nutrition. Track, analyze and achieve your health and fitness goals with ease.</p>
	<button class="mt-8 bg-jade-green hover:bg-dark-jade-green text-white font-open-sans font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Start your journey!</button>
</div>
