<nav class="bg-white">
	<div class="mx-auto px-4">
		<div class="flex justify-between items-center">
			<a href="#" class="flex items-center py-3 text-gray-700">
				<img ngSrc="assets/logo.png" alt="Logo" class="h-10 w-32" height="360" width="1080">
			</a>
			<div class="flex items-center">
				<button class="bg-gray-100 hover:bg-gray-200 text-dark-green font-open-sans font-semibold py-2 px-4 rounded mr-4 focus:outline-none">Sign In</button>
				<button class="bg-jade-green hover:bg-jade-green-dark text-white font-open-sans font-semibold py-2 px-4 rounded focus:outline-none">Sign Up</button>
			</div>
		</div>
	</div>
</nav>
